@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('../fonts/helvetica-neue/HelveticaNeueMedium.ttf');
}

@font-face {
  font-family: 'Helvetica Neue', sans-serif;
  font-style: italic;
  font-weight: 400;
  src: local('../fonts/helvetica-neue/HelveticaNeueMediumItalic.ttf');
}

@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local('../fonts/helvetica-neue/HelveticaNeueBold.ttf');
}

@font-face {
    font-family: 'Didot', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('../fonts/didot/Didot.ttf');
}

@font-face {
  font-family: 'Didot', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('../fonts/didot/Didot Bold.ttf');
}

@font-face {
  font-family: 'Didot', sans-serif;
  font-style: italic;
  font-weight: 400;
  src: local('../fonts/didot/Didot Italic.ttf');
}